<launch>
      <!-- -->
      <!-- barcode detection -->
      <node name="barcode_reader" pkg="nodelet" type="nodelet"
            args="standalone barcode_reader/BarcodeReader" output="screen">
            <remap from="image_raw" to="image_raw"/>
            <remap from="image_out" to="barcode_image"/>
            <remap from="barcodes_out" to="barcode_data"/>
            <param name="scan_interval" value="0.5"/>
            <param name="republish_image" value="true"/>
      </node>
      <!-- -->
      <!-- barcode drawing -->
      <node name="barcode_drawer" pkg="nodelet" type="nodelet"
            args="standalone object_drawer/ObjectDrawer" output="screen">
            <remap from="image_raw" to="barcode_image"/>
            <remap from="objects_in" to="barcode_data"/>
            <remap from="image_out" to="annotated_image"/>
      </node>
      <!-- -->
      <!-- viewer -->
      <node pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="annotated_image"/>
      </node>
</launch>