<launch>
      <!-- -->
      <!-- barcode detection -->
      <node pkg="nodelet" type="nodelet" name="barcode_reader"
            args="standalone barcode_reader/BarcodeReader" output="screen">
            <remap from="image_raw" to="image_raw"/>
            <remap from="image_out" to="barcode_image"/>
            <remap from="barcodes_out" to="barcode_data"/>
            <param name="scan_interval" value="0.5"/>
            <param name="republish_image" value="true"/>
      </node>
      <!-- -->
      <!-- barcode drawing -->
      <!-- TODO: add drawing nodelet -->
      <!-- -->
      <!-- viewer -->
      <node pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="barcode_image"/>
      </node>
</launch>